from enum import StrEnum
from typing import Protocol, Sequence, Annotated

{% for typedef in typedefs %}
class {{ typedef.name }}({{typedef.type}}):
    """ {{ typedef.description }} """
{% endfor %}


{% for enum in enums %}
class {{ enum.name }}({{enum.type}}):
    """ {{ enum.description }} """
{% for member in enum.members %}    {{ member }} = "{{ member }}"
{% endfor %}
{% endfor %}


{% for cls in classes %}
class {{ cls.name }}({{cls.parent}}):
{% for field in cls.fields %}    {{ field.name }}: {% if field.description %}Annotated[{{ field.type }}, "{{ field.description }}"]{% else %}{{ field.type }}{% endif %}
{% endfor %}
{% endfor %}
